resources/hg38/Homo*
resources/hg38/shapeit/Phasing_reference/*
resources/hg38/shapeit/shapeit_maps/*
resources/hg38/smurf/Mutational_blacklists/*.bed
resources/hg38/gripss/gridss_pon_breakpoint.bedpe
resources/hg38/cobalt/COBALT_PTA_Normalized_Full.txt
resources/hg38/cobalt/COBALT_PTA_Normalized_Full_OLD.txt

demo
