executor {
    $sge {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
    $slurm {
      queueSize = 1000
      pollInterval = '30sec'
      queueStatInterval = '5min'
    }
}

profiles {
  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = ''
  }

  slurm {
    process.executor = 'slurm'
    process.queue = 'cpu'
    process.clusterOptions = "--constraint=avx2"
  }
}

report {
  enabled = true
  file = "$params.out_dir/log/nextflow_report.html"
}

trace {
  enabled = true
  file = "$params.out_dir/log/nextflow_trace.txt"
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
  enabled = true
  file = "$params.out_dir/log/nextflow_timeline.html"

}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
  cacheDir = '/hpc/local/CentOS7/pmc_vanboxtel/singularity_cache'
}

cleanup = false
