params {

  ref_genome = 'BSgenome.Hsapiens.UCSC.hg38'
  genome_fasta = "${projectDir}/resources/hg38/Homo_sapiens_assembly38.fasta"

  features {
    closest = [
      ["GENEBODY", "${projectDir}/resources/hg38/features/genebody.sorted.bed", "-c 4,5,6,13 -o distinct,distinct,distinct,min"],
      ["SIMPLEREPEAT", "${projectDir}/resources/hg38/features/simpleRepeats.feature.sorted.bed", "-c 4,5,6,10 -o distinct,distinct,distinct,min"]
    ]
    intersect = [
      ["TSB", "${projectDir}/resources/hg38/features/genebody.sorted.bed", "-c 4,5,6,12 -o distinct,distinct,distinct,distinct"],
      ["REPLISEQ", "${projectDir}/resources/hg38/features/all_RepliSeq_median.sorted.bed", " -c 4,5,6,10 -o distinct,distinct,distinct,median"]
    ]
  }

  smurf {
    config = "${projectDir}/resources/hg38/smurf/config_15cov.ini"
  }

  shapeit {
    chroms = "${projectDir}/resources/hg38/shapeit/chromosomes.txt"
    maps = "${projectDir}/resources/hg38/shapeit/shapeit_maps/"
    reference = "${projectDir}/resources/hg38/shapeit/Phasing_reference/"
  }

  gridss {
    viralreference = "${projectDir}/resources/hg38/gridss/human_virus.fa"
  }

  gripss {
    breakend_pod = "${projectDir}/resources/hg38/gripss/gridss_pon_single_breakend.bed"
    breakpoint_pon = "${projectDir}/resources/hg38/gripss/gridss_pon_breakpoint.bedpe"
    breakpoint_hotspot = "${projectDir}/resources/hg38/gripss/KnownFusionPairs.bedpe"
    pon = "${projectDir}/resources/hg38/gripss/SV_breakends_withCobalt_blacklist_220228.bed"
  }

  cobalt {
    gc_profile = "${projectDir}/resources/hg38/cobalt/GC_profile.1000bp.cnp"
    pon = "${projectDir}/resources/hg38/cobalt/COBALT_PTA_Normalized_Full.txt"
  }

  svs {
    centromeres = "${projectDir}/resources/hg38/svs/hg38_centromeres.txt"
    cytoband = "${projectDir}/resources/hg38/svs/cytoBand_hg38.txt.gz"
  }

}
