params {

  ref_genome = 'BSgenome.Hsapiens.UCSC.hg38'
  genome_fasta = '/hpc/pmc_vanboxtel/resources/homo_sapiens.GRCh38.GATK.illumina/Homo_sapiens_assembly38.fasta'


  features {
    closest = [
      ["GENEBODY", "/hpc/pmc_vanboxtel/resources/randomforest_features/hg38/genebody.sorted.bed", "-c 4,5,6,13 -o distinct,distinct,distinct,min"],
      ["SIMPLEREPEAT", "/hpc/pmc_vanboxtel/resources/randomforest_features/hg38/simpleRepeats.feature.sorted.bed", "-c 4,5,6,10 -o distinct,distinct,distinct,min"]
    ]
    intersect = [
      ["TSB", "/hpc/pmc_vanboxtel/resources/randomforest_features/hg38/genebody.sorted.bed", "-c 4,5,6,12 -o distinct,distinct,distinct,distinct"],
      ["REPLISEQ", "/hpc/pmc_vanboxtel/resources/randomforest_features/hg38/all_RepliSeq_median.sorted.bed", " -c 4,5,6,10 -o distinct,distinct,distinct,median"]
    ]
  }

  smurf {
    config = '/hpc/pmc_vanboxtel/projects/PTApipeline/2_Code/1_ini_files/config_15cov.ini'
  }

  shapeit {
    chroms = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]
    maps = '/hpc/pmc_vanboxtel/projects/PTApipeline/AB_test/shapeit_maps/'
    reference = '/hpc/pmc_vanboxtel/projects/PTApipeline/AB_test/Phasing_reference/'
  }

  gridss {
    viralreference = '/hpc/local/CentOS7/pmc_vanboxtel/bin/gridss-purple-linx_v1.3.2/HG38_ref_dir/refgenomes/human_virus/human_virus.fa'
  }

  gripss {
    breakend_pod = '/hpc/local/CentOS7/pmc_vanboxtel/bin/gridss-purple-linx_v1.3.2/HG38_ref_dir/dbs/gridss_pon/gridss_pon_single_breakend.bed'
    breakpoint_pon = '/hpc/local/CentOS7/pmc_vanboxtel/bin/gridss-purple-linx_v1.3.2/HG38_ref_dir/dbs/gridss_pon/gridss_pon_breakpoint.bedpe'
    breakpoint_hotspot = '/hpc/local/CentOS7/pmc_vanboxtel/bin/gridss-purple-linx_v1.3.2/HG38_ref_dir/dbs/knowledgebases/KnownFusionPairs.bedpe'
    pon = '/hpc/pmc_vanboxtel/personal/smiddelkamp/PTA_SV/SV_breakends_withCobalt_blacklist_220228.bed'
  }

  cobalt {
    gc_profile = '/hpc/local/CentOS7/pmc_vanboxtel/bin/gridss-purple-linx_v1.3.2/HG38_ref_dir/dbs/gc/GC_profile.1000bp.cnp'
    pon = '/hpc/pmc_vanboxtel/projects/PTApipeline/3_Output/StructuralVariants/COBALT_PTA_Normalized_Full.txt'
  }

  svs {
    centromeres = '/hpc/pmc_vanboxtel/projects/PTApipeline/2_Code/2_scripts/StructuralVariants/resources/hg38_centromeres.txt'
    cytoband = '/hpc/pmc_vanboxtel/projects/PTApipeline/2_Code/2_scripts/StructuralVariants/resources/cytoBand_hg38.txt.gz'
  }

}
